.navbar-travels{
    margin-bottom: 0;
}
.navbar-brand-travels{
    width: 100px;
}
.img-navbar-brand-travels{
    width: 100%;
    height: 100%;
}
.contennedor-navbar-collapse{
    position: absolute;
}
.contenedor-img-principal{
    padding: 0;
}
.contenedor-img-principal img {
    width: 100%;
    height: 50%;
}